@import "../globalStyles.scss";

.container {
  margin: 110px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftContent {
  width: 635px;
  margin-right: 15px;
}
.rightContent {
  width: 445px;
  height:200px;
  display: contents;
}
.image {
  width: inherit;
  margin-left: 15px;
}
.title {
  color: $title-color;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;
}
.list {
  display: flex;
  color: white;
  list-style: none;
}
.listItem {
  // border-right: 2px solid white;
  margin: 16px 8px 16px 0;
  padding-right: 16px;
  color: $footer-link-color;
  font-family: IBM Plex Sans;
  letter-spacing: -0.2px;
}
.text {
  color: $main-text-color;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.2px;

}

@media(max-width: 1024px) {
  .leftContent {
    width: 420px;
  }
}
@media(max-width: 768px) {
  .container {
    margin: 90px 0;
  }
  .leftContent {
    width: 580px;
    margin-right: 0;
  }
  .rightContent {
    visibility: hidden;
    width: 0;
    margin: 0;
    display: flex;
  }
  .list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  .listItem {
    margin: 16px 0;

  }
}
@media(max-width: 425px) {
  .container {
    margin: 40px 0;
    text-align: center;
  }
  .leftContent {
    width: 382px;
    margin-right: 0;
  }
  .title {
    margin-bottom: 16px;
  }
  .rightContent {
    visibility: hidden;
    width: 0;
    margin: 0;
    padding: 0;
  }
  .list {
    display: list-item;
    width: 210px;
    margin: auto;
  }

  .listItem {
    float:left;
    margin:0 10px 10px 0;
    width:100px;
    padding: 0;
  }
  .listItem:nth-child(even) {
    margin-right:0;
  }
  .text {
    margin-top: 32px;
    float: left;
  }
}