@import "../globalStyles.scss";

.container {
  background: $background-color;
  margin: 128px 0;
}
.groupContainer {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;

  // border: 1px solid white;
}
.mainTitle {
  margin: 64px auto;
  text-align: center;
  color: $title-color;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;
}
.title {
  margin: 8px 0 32px 0;
  color: $title-color;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 26px;
  letter-spacing: -0.2px;
}
.skillGroup {
  text-align: center;
  padding: 32px 16px;
  align-items: center;
  width: 320px;
}
.middleGroup {
  text-align: center;
  padding: 64px 16px;
  align-items: center;
  width: 400px;
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
}
.list {
  color: $main-text-color;
  list-style: none;
}
.listItem {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.2px;
}