@import "../globalStyles.scss";

.container {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}
.title {
  color: $title-color;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.8px;
}
.text {
  color: $main-text-color;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  width: 350px;
  height: 58px;
}
.listText {
  color: $main-text-color;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
}
.leftContent {
  margin-right: 30px;
}
.rightContent {
  margin-left: 30px;
  padding-top: 88px;
}
.form {
  display: inline-grid;
}
.input {
  background: #212121;
  border-radius: 8px;
  width: 350px;
  height: 58px;
  border: none;
  color: white;
  padding-left: 32px;
  margin: 5px 0;
  transition: all 0.3s ease;
}
.input:hover {
  box-shadow: 0px 0px 16px 0px rgba(255,255,255,0.35);
}

.textArea {
  padding: 16px 0 0 32px;
  background: #212121;
  border-radius: 8px;
  border: none;
  color: white;
  margin: 5px 0 10px 0;
  width: 350px;
  height: 150px;
  transition: all 0.3s ease;
}
.textArea:hover {
  box-shadow: 0px 0px 16px 0px rgba(255,255,255,0.35);
}
.button {
  margin: 10px 0;
  border: none;
  background: #FF8364;
  border-radius: 8px;
  width: 200px;
  height: 58px;
  // button text
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;

  color: #FFFFFF;

  transition: all 0.3s ease;
}
.button:hover {
  background: #FFFFFF;
  color: #6D6D6D;
  box-shadow: 0px 0px 16px 0px rgba(255,255,255,0.35);

}
.list {
  list-style: none;
  width: fit-content;
}
.listTitle {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  color: #FFFFFF;
}
.innerList {
  list-style: none;
  display: flex;
}
.innerListItem {
  margin: 5px 0;
  margin-right: 14px;
  color: #6D6D6D;
  font-size: 24px;
}
.listItem {
  margin: 19px 0;

}
.link {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-decoration: none;
  color: #FF8364;
}
.link:hover {

  cursor: pointer;
}
.iconLink {
  color: #6D6D6D;
  transition: all 0.3s ease;
}
.iconLink:hover {
  color: #FF8364;

}

@media(max-width: 425px) {
  .container {
    display: unset;
    text-align: -webkit-center;
  }
  .leftContent {
    margin: 0;
  }
  .rightContent {
    margin: 88px 0;
    padding: 0;
  }
  .innerList {
    justify-content: center;
    margin: 8px 0;
  }
  .listTitle {
    margin: 4px 0;
  }
  .button {
    margin-top: 24px;
  }
  .text {
    margin: 24px auto;
    width: 240px;
  }
  .input {
    width: 240px;
  }
  .textArea {
    width: 240px;
  }
}

@media(max-width: 320px) {
  .leftContent {
    width: 100%;
  }
  .text {
    margin: 24px auto;
    width: 240px;
  }
  .input {
    width: 240px;
  }
  .textArea {
    width: 240px;
  }
}