

$background-color: #141414;
$portfolio-white: #FFFFFF;
$portfolio-orange: #FF8364;
$title-color: #FFFFFF;
$main-text-color: #BABABA;

* {


}
html {
  margin:0 ;
  padding:0;
  scroll-behavior: smooth;
}
body {


}
