@import "../globalStyles.scss";

.container {
  background: $background-color;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 160px;
}
.leftContent {
  width: 540px;
  margin-right: 15px;
}
.rightContent {
  width: 540px;
  height: 347px;
  margin-left: 15px;
  background: #212121;
  border-radius: 8px;
}

.image {
  height: inherit;
  width: inherit;
  border-radius: 8px;
}

.title {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: $title-color;
}
.subTitle {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: $title-color;
  margin-bottom: 15px;
}

.text {
  margin-top: 15px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.2px;

  color:$main-text-color;
}

@media(max-width: 1024px){
  .container {
    margin-top: 70px;
  }
  .rightContent {
    width: 340px;
    height: 221px;
  }
}

@media(max-width: 768px){
  .container {
    margin-top: 50px;

  }
  .rightContent {
    width: 296px;
    height: 261px;
  }
}
@media(max-width: 425px){
  .container {
    margin-top: 20px;
    margin-bottom: 80px;
  }
  .leftContent {
    margin: 0;
    text-align: center;
  }
  .rightContent {
    visibility: hidden;
    width: 0px;
  }
}